* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
}

.loading {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  row-gap: 50px;
}


.header {
  width: 100%;
  height: 100vh;
  background-image: url("../public/house.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.aboutHeader{
  width: 100%;
  height: 100vh;
}

.aboutContent{
  display: flex;
  flex-direction: row;
}

.services {
  width: 100%;
  height: 60vh;
  background-color: #ebf5fb;
  padding: 10vh 5vh;
}

.rooms {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  margin-top: 10vh;
}

.btn-outline-success {
  margin-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5vh;
}

.main-image {
  width: 100%;
  height: 35vh;
}

.bg-dark {
  padding: 20px;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.headerContent {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.headerContent h1 {
  color: #fff;
  font-size: 3vw
}

.headerContent p {
  color: #fff;
  font-size: 1vw
}

.headerContent button {
  background-color: #61dafb;
  width: 30%;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 20px;
}

.card-body p {
  color: #46464D;
  font-weight: lighter;
  text-align: center;
  margin-top: 2rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 20px;
  width: 100%;
}

.type-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.roomInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.viewDealBtn {
  height: 40px;
  background-color: #61dafb;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.roomCard-headings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15px;
  font-size: 16px;
  font-weight: lighter;
  color: #000000;
}

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.login {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10px;
  padding-top: 50px;
}

.loginContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.log {
  width: 50%;
  height: 50vh;
  background-color: #fff;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

.picture {
  min-height: 20vh;
  width: 20vh;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: left;
}

.loginInput,
select {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border-color: #46464D;
}

span {
  color: #61dafb;
}

a {
  text-decoration: none;
}

.forgotSection {
  color: #61dafb;
  margin-left: auto;

}

.form button {
  background-color: #61dafb;
  border: none;
  height: 40px;
  color: #fff;
  border-radius: 20px;
}

.footer {
  margin-top: auto;
  margin-bottom: 0;
  background-color: #111A21;
color: #fff;
  padding: 10px;
}