.homeBody {
  position: relative;
  min-height: 200vh;
  display: flex;
  flex-direction: column
}

.contactBody {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column
}





@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
}

.loading {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  row-gap: 50px;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../public/house.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: center;
}


.aboutHeader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../public/lobby.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: center;
}

.room {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  column-gap: 30px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
}

/* .room {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
} */



.aboutContent {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  column-gap: 25px;
}

.gallery {
  width: 50%;
}

.aboutUs {
  width: 50%;
}

.aboutUs h2,
p {
  color: #fff;
}

.aboutUs h4 {
  color: #61dafb;
}

.services {
  width: 100%;
  height: auto;
  background-color: #ebf5fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 5vh;
}

.serviceCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.card {
  width: 25%;
  height: auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

}

.card p {
  width: 200px;
  text-align: center;
}

.rooms {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.btn-outline-success {
  margin-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5vh;
}

.main-image {
  width: 100%;
  height: 35vh;
}

.bg-dark {
  padding: 20px;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.headerContent {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
  border-radius: 10px;
}

.headerContent h1 {
  color: #fff;
  font-size: 3vw;
  font-weight: bold;
}

.headerContent p {
  color: #fff;
  font-size: 1.5vw;
  font-weight: lighter;
}

.headerContent button {
  background-color: #61dafb;
  width: 30%;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 20px;
}

.card p {
  color: #46464d;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
}

.card h5 {
  color: #46464d;
  font-weight: bold;
  text-align: center;
}



.card-info {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 20px;
  width: 100%;
}

.type-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.roomInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.viewDealBtn {
  height: 40px;
  background-color: #61dafb;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.roomCard-headings {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  column-gap: 15px;
  font-size: 16px;
  font-weight: lighter;
  color: #000000;
}

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  position: fixed;

}

.loginContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.log {
  width: 50%;
  height: auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 30px;

}

.picture {
  min-height: 20vh;
  width: 20vh;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: left;
}

.loginInput,
select {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border-color: #46464d;
  text-indent: 20px;
}

span {
  color: #61dafb;
}

a {
  text-decoration: none;
}

.forgotSection {
  color: #61dafb;
  margin-left: auto;
}

.form button {
  background-color: #61dafb;
  border: none;
  height: 40px;
  color: #fff;
  border-radius: 20px;
}


/* .bookRoom {
  margin-top: 20px;
  background-color: #61dafb;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  height: 40px

} */

.footer {
  width: 100%;
  height: auto;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: auto;
  margin-bottom: 0;
  background-color: #111a21;
  color: #fff;
  padding: 20px;
}

.footer p,
li {
  font-size: 1rem;
  font-weight: lighter;
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.belowFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.socialMediaIcons {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contactForm {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-top: 20px;
}

.formContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.formPaper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  column-gap: 70px;
}

.formSide {
  width: 50%;

}

.formImg {
  width: 50%;
}

.formImg img {
  width: 100%;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.roomMinContainer {
  width: 100%;
}



.imageGalleryClient {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}

.imageGalleryClient img {
  width: 95%;
  height: 30vh;

}

.roomDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
  }

  .belowFooter {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

  }

  .socialMediaIcons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }


  .footer p,
  li {
    font-size: 0.9rem;
    font-weight: lighter;
  }

  .serviceCard {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 90%;
  }


  .headerContent {
    width: 90%;
    height: 50%;
    border-radius: 10px;
  }


  .headerContent button {
    background-color: #61dafb;
    width: 30%;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 20px;
  }

  .log {
    width: 90%;
    padding: 10px;
  }

  .loginContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }



  .formPaper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .formContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

  }


  .formSide {
    width: 100%;
    text-align: center;

  }

  .formImg {
    width: 50%;
    margin-bottom: 20px;
  }

  .aboutContainer {
    display: flex;
    flex-direction: row;
  }

  .aboutHeader {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../public/lobby.jpg");
    background-repeat: no-repeat;
    background-size: 100% 250vh;
    background-position: center;
  }


  .aboutContent {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    column-gap: 25px;
  }

  .header {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../public/house.jpg");
    background-repeat: no-repeat;
    background-size: 100% 60vh;
    background-position: center;
  }

  .login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
    position: absolute;

  }

}